.sectionHeader {
  margin-bottom: 2rem;

  padding-bottom: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.heading {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-primary);
}

.headingNumber {
  color: var(--accent);
  font-size: 1.25rem; /* text-xl */
  font-family: monospace;
}

.totalRecords {
  display: none;
  font-family: monospace;
  font-size: 0.75rem; /* text-xs */
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .totalRecords {
    display: block;
  }
  .sectionHeader {
    margin-bottom: 4rem;
  }
  .stack {
    gap: 3rem;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
